
body{
  margin: 0px;
  background-color : rgba(0, 0, 0, 0.897);
  color: rgb(255, 255, 255);
  font-size: 20px;
  position: relative;
}
nav{
  position: sticky;
  display: flex;
  justify-content: space-between;
}
.navbar ul{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  position: sticky;
  
}
.navbar a{
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
  font-size: 20px;
  transition-duration: 0.3s; 

}
#navav{
  text-align: center;
  height: 70px;
}
#navav a{
  text-align: center;
margin-top: 10px;
}
.navar{
  text-align: center;
}
 
.navbar li{
  float: left;
  overflow: auto;
}
#Logo{
  height: 50px;
  width: 50px;
margin-top: -16px;
margin-bottom: 55px;
transition-duration: 1s ;
}
#Logo:hover{
  background-color: aqua;
}

#start{
  text-align: left;
  background-color: chartreuse;
  width: auto;
  height: auto;
}
#leftlogo{
  height: 100px;
  display: inline-block;
  width: 200px;
  padding-top: 200px;
  margin-right: 200px;
  
}

h1 h3 h4{
  font-weight: bold;
}
h4{
  font-size: 40px;
}
h3{
  font-size: 50px;
}
h2{
  font-size: 80px;
  padding-left: 55px;
}
h5{
  text-align: center;
}
#first{
  display: block;
  margin-left: 50px;
}

#login {
  width: auto;
  height: 30px;
  background-color: rgba(43, 255, 0, 0.493);
  padding-top: 10px;
  padding-left: 30px;
  text-align: center;
}
#login a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition-duration: 0.5s;
}
#login a:hover{
  background-color: rgba(20, 117, 0, 0.781);
  font-size: 23px;
  margin-left: 40px;
}

.contentup{
  margin-left: 100px;
  margin-right:100px;
}

#info{
  background-color: rgba(0, 0, 0, 0.288);
  height: auto;
  margin: 0px;
  margin-bottom: -20px;
}
#info div a{
  color: silver;
  display: block;
  text-align: center;
  text-decoration: none;
  
}
#contac{
  display: inline-block;
  text-align: center;
  color: rgba(19, 155, 37, 0.493);
  text-decoration: none;
}
#contac:hover{
  color: red;
}

#linklist{
  list-style-type: none;
  margin-bottom: -27.5px;
}
#linklist .suggestedlinks{
  display: inline-block;
  margin: 20px ;
  transition-duration: 0.5s;
}
#linklist a{
  text-decoration:none;
  color:rgb(255, 255, 255) ;

}
#linklist a {
  box-shadow: inset 0 0 0 0 #a4d6543b;
  color: #a4d654;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
#linklist a:hover {
  box-shadow: inset 100px 0 0 0 #a4d654 ;
  color: white;
}
#X{
  color: rgba(0, 0, 0, 0.87);
  display: inline-block;
  font-size: 15px;
  line-height: 40px;
  background-position-y: 100px;
  text-align:center;
  box-shadow: inset 0 100px 0 0 #140f0f;
  border-radius: 50px;
  transition:0.3s;

}
#X:hover{
  transform:scaleX(1.1);
  box-shadow: inset 0 00 0 0 #140f0f;
  color: rgb(0, 0, 0);
}

#instagram{
  color: rgba(0, 0, 0, 0.87);
  display: inline-block;
  font-size: 15px;
  line-height: 40px;
  background-position-y: 100px;
  text-align:center;
  box-shadow: inset 0 100px 0 0 rgb(255, 0, 128);
  border-radius: 50px;
  transition:0.3s;
}
#instagram:hover{
  transform:scaleX(1.1);
  box-shadow: inset 0 00 0 0 rgb(255, 0, 128);
  color: rgb(255, 0, 128);
}

#whatsapp{
  color: rgba(0, 0, 0, 0.87);
  display: inline-block;
  font-size: 15px;
  line-height: 40px;
  background-position-y: 100px;
  text-align:center;
  box-shadow: inset 0 100px 0 0 green;
  border-radius: 50px;
  transition:0.3s;
}
#whatsapp:hover{
  transform:scaleX(1.1);
  box-shadow: inset 0 00 0 0 green;
  color: green;
}
#facebook{
  color: rgba(0, 0, 0, 0.87);
  display: inline-block;
  font-size: 30px;
  line-height: 40px;
  background-position-y: 100px;
  text-align:center;
  box-shadow: inset 0 100px 0 0 blue;
  border-radius: 50px;
  transition:0.3s;
}
#facebook:hover{
  transform:scaleX(1.1);
  box-shadow: inset 0 00 0 0 blue;
  color: blue;
}
#socio{
  list-style-type: none;
}
.linko{
display: inline-block;
}
i{
  display: flex;
  text-align: center;
  width: 40px;
}
#youtube{
  color: rgba(0, 0, 0, 0.87);
  display: inline-block;
  font-size: 30px;
  line-height: 40px;
  background-position-y: 100px;
  text-align:center;
  box-shadow: inset 0 100px 0 0 red;
  border-radius: 50px;
  transition:0.3s;
}
#youtube:hover{
  transform:scaleX(1.1);
  box-shadow: inset 0 00 0 0 red;
  color: red;
}
#mail{
  color: rgba(0, 0, 0, 0.87);
  display: inline-block;
  font-size: 30px;
  line-height: 40px;
  background-position-y: 100px;
  text-align:center;
  box-shadow: inset 0 100px 0 0 rgb(255, 255, 255);
  border-radius: 50px;
  transition:0.3s;
}
#mail:hover{
  transform:scaleX(1.1);
  box-shadow: inset 0 00 0 0 rgb(255, 255, 255);
  color: #cccccc;
}
#social_links{
  height: 40px;
  display: flex;
  justify-content: flex-start;
  background-color:rgba(0, 0, 0, 0.288)
}
#social_links a{
  margin-left: 30px;
  margin-right: 10px;
}
#contactus{
  background-color:rgba(0, 0, 0, 0.288);
  height: 50px;
}


/* xs */
@media (min-width: 500px) {
 #Logo{
  background-color: black;
 }
h2{
  font-size: 50px;
}
h3{
  font-size: 30px;
  padding-left: 50px;

}
p{
  font-size:20px;
}
.nava a:hover{
  background-color: green;
  margin: 10px;
}
#todown{
  display: block;

}
#start{
 box-sizing: border-box;
 width: 100px;
 height: 20px;   
 display: inline;
}
h1{
  font-size: 20px;
  margin-left: 50px;
}
.content{
  text-align: center;
margin-left: auto;
margin-right: auto;
height: auto;
width: auto;
}
#scndgroup{
  width: 350px;
  margin-right: auto;
  margin-left: auto;
}
#thrd{
  width: 400px;
  margin-right: auto;
  margin-left: auto;
}

.content #forth{
  height: auto;
}
#woman{
  width: 350px;
}
#presso{
text-align: center;
}
#lastimg{
  width: 350px;
}
}
@media (min-width:606px){
  #Logo{
    background-color: brown;
  }
  

}

/* sm */
@media (min-width: 640px) {
#Logo{
  background-color: blueviolet;
}
.nava a:hover{
  background-color: green;
  font-size: 30px;
  margin: 15px;
}
#scndgroup{
  width: 390px;
}
#thrd{
  width: 390px;
}
.content{
  text-align: center;
}
#damn{
  text-align: center;
}
#woman{
  width: 390;
}
}
@media (min-width:703px){
#scndgroup{
  width: 410px;
}
#thrd{
  width: 410px
}
#woman{
  width: 410px;
}
}
/* md */
@media (min-width: 768px) {
  #Logo{
    background-color: red;
  }
  .nava a:hover{
    background-color: green;
    font-size: 30px;
    margin: 20px;
  }
  #scndgroup{
    width: 500px;
    border: 50px solid rgba(0, 0, 0, 0);
  }
  #thrd{
    width: 400px;
  }
  #woman{
    width: 500px;
  }
  #lastimg{
    width: 500px;
  }
  }



@media (min-width: 960px) {
}

/* lg */
@media (min-width: 1019px) {
  #Logo{
    background-color: white;
  }
  .nava a:hover{
    background-color: green;
    font-size: 30px;
    margin: 25px;
  }
  .content{
    width: 90%;
    margin-left: 50px;
    margin-right: 50px;
    height: auto;
  }
 
#sider{
  clear: right;
}
  #scndgroup{
    width: 350px;
    height: 500px;
    display: block;
  }
  #third{
    height: auto;
    display: flex;
    flex-direction: row-reverse;
  }
  #thrd{
    height: 450px;
    width: 350px;
  }
 
  #third img{
    float: right;
    margin: auto;
  }
  #third p{
    width: 400px;
  }
  #forth{
    height: auto;
    display: flex;
    flex-direction: row;
  }
  #forth img{
  float: left;
  margin: auto;
  }
  #forth p{
    width: 400px;
  }
  #lettry{
    display: flex;
    flex-direction: row-reverse;
  }
  #woman{
    height: 450px;
    width: 350px;
    float: left;
    margin: auto;
  }
  #lettry p{
    width: 400px;
  }
  #lastimg{
    height: 450px;
    width: 350px;
    margin: auto;
  }

  #last{
display: flex;
flex-direction: row;
}
#last p{
 width: 400px;
  }
}
@media (min-width:1025px) {
  
}
 @media (min-width:1174px){
 
}
 
/* xl */
@media (min-width: 1275px) {
  #Logo{
background-color: darkorange; 
  }
  .content{
    width: auto;
    margin: 50px;
    
    height: auto;
  }
  #scndgroup{
    width: 350px;
    height: 500px;
    display: block;
  }
  #third{
    height: auto;
    display: flex;
    flex-direction: row-reverse;
  }
  #thrd{
    height: 450px;
    width: 600px;
  }
 
  #third img{
    float: right;
    margin: auto;
  }
  #third p{
width: 600px;}
  #forth{
    height: auto;
    display: flex;
    flex-direction: row;
  }
  #forth img{
  float: left;
  margin: auto;
  }
  #forth p{
    width: 600px;
  }
  #lettry{
    display: flex;
    flex-direction: row-reverse;
  }
  #woman{
    height: 450px;
    width: 400px;
    float: left;
    margin: auto;
  }
  #lettry p{
    width: 600px;
  }
  #lastimg{
    height: 450px;
    width: 600px;
    margin: auto;
  }

  #last{
display: flex;
flex-direction: row;
}
#last p{
 width: 500px;
  }

}

@media (min-width: 1275px) {
@media (min-width:1315px) {
  
}
}
@media (min-width: 1360px) {}

/* 2xl */
@media (min-width: 1536px){}



